.git
.gitignore
README.md
Dockerfile
.dockerignore
.docker/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
!.env
.env
requirements-test.txt
requirements-dev.txt
Dockerfile*
docker-compose*
*.swp
*.swo
*~